#header{
	background-image: url(Images/colores.jpg); 
	color: #fff;
}

#navi	{
	background: #acc12f;
}

#log-out { text-align: center; }

#footer {background: #f2f2f2;}

#containerUno {background: #12FCC2;}
